* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    color: rgb(45, 50, 66);
    background-color: #F5F7F7;
    font-family: PT Root UI, sans-serif;
}

.contentWrapper {
    display: flex;
    margin: 98px auto;
    width: 74%;
    @media (max-width: 1200px) {
        width: 100%;
        margin: 98px 50px 98px 0;
    }
    @media (max-width: 800px) {
        flex-direction: column;
        width: 80%;
        margin: auto;
        gap: 10px;
        justify-content: center;
        img {
            margin: auto;
        }
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}
a{
    text-decoration: none;
}